root = true

# C# files
[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

# New line preferences
end_of_line = crlf
insert_final_newline = false
