[submodule "submodules/CSharp.lua"]
	path = submodules/CSharp.lua
	url = https://github.com/Drake53/CSharp.lua
[submodule "submodules/FastMDX"]
	path = submodules/FastMDX
	url = https://github.com/HanabishiRecca/FastMDX
