<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-feed" value="./artifacts" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-feed">
      <package pattern="War3Net.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="JpegLibrary" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="StyleCop.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>