<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-feed" value="./artifacts" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-feed">
      <package pattern="War3Net.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Cake.Common" />
      <package pattern="Cake.Core" />
      <package pattern="Cake.Incubator" />
      <package pattern="DotNetZip" />
      <package pattern="ICSharpCode.Decompiler" />
      <package pattern="JpegLibrary" />
      <package pattern="Pidgin" />
      <package pattern="Portable.BouncyCastle" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="runtime.native.System" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="StyleCop.Analyzers.Unstable" />

      <!-- Wildcards -->
      <package pattern="Microsoft.*" />
      <package pattern="NuGet.*" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>