
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2019

[*.{cs,}]
dotnet_style_prefer_conditional_expression_over_assignment = true : warning
dotnet_style_prefer_conditional_expression_over_return = true : warning

dotnet_style_coalesce_expression = true = true : warning
dotnet_style_null_propagation = true : warning

csharp_style_var_for_built_in_types = true : warning
csharp_style_var_when_type_is_apparent = true : warning
csharp_style_var_elsewhere = true : suggestion

csharp_style_pattern_matching_over_is_with_cast_check = true : suggestion
csharp_style_pattern_matching_over_as_with_null_check = true : suggestion

csharp_style_inlined_variable_declaration = true : suggestion

csharp_style_throw_expression = true : suggestion
csharp_style_conditional_delegate_call = true : suggestion

csharp_prefer_braces = true : warning



dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
